# App
API_PORT=8000
API_PORT_FORWARD=8000
DEBUG=True
CORS_ORIGINS=http://localhost:3000,http://localhost:8080
ENVIRONMENT=development
SECRET_KEY=change_me

# AI
HF_TOKEN=your_token_here

# LLM
LLM_PROVIDER=openrouter
LLM_MODEL=nex-agi/nex-n2-pro:free
OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_API_KEY=sk-your_key_here

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PORT_FORWARD=5444
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rag_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PORT_FORWARD=6379
REDIS_PASSWORD=redis_password
REDIS_DB=0
REDIS_TTL=30

QDRANT_URL=http://qdrant:6333
CELERY_RESULT_BACKEND = "redis://redis:6379/1"
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

# Auth
JWT_ALG=RS256
ACCESS_TOKEN_EXPIRE_SECONDS=1800
REFRESH_TOKEN_EXPIRE_SECONDS=86400




